<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <style>
            body {
                background-color: #7B88EE;
                color: #222;
            }

            .container {
                max-width: 660px;
                margin: 30px auto;
            }

            .container h1 {
                margin-left: 120px;
            }

            a {
                text-decoration: none;
                color: #000;
                padding: 15px;
                font-weight: bold;
            }

            .modal-content {
                width: 1000px;
                margin-right: 400px;

            }

            .modal-title {
                font-size: 40px;
                text-align: center;
            }

            h4 {
                color: #7B88EE;
            }

            h1 {
                color: #fff;
            }

            h4:hover {
                color: #6E6FE5;
            }
        </style>

        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <body>
            <div class="container">

                <h1>Perfil Administrador</h1>
                <hr>

                <div class="card">
                    <a href="/indexAdmin">
                        <h4>Gerenciamento de Usuários</h4>
                    </a>
                </div><br><br>

                <div>


                </div>

        </body>


        </html>